/*모든 공통 스타일은 c_로 시작합니다.
class 명에 추가해서 사용해 주세요!*/

/* font 추가 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: url('../img/backgroundGif.gif');
    background-size: cover;
    padding: 3rem 5rem;
    font-family: "GmarketSansMedium";
}

/* input box style */
.c_input_area {
    width: 100%;
    display: flex;
}

.c_input_title {
    width: 100%;
}

/* todo: 나중에 이름 변경하기*/
.c_input_box_area {
    display: flex;
    flex-direction: row;
}

.c_input_box {
    height: 35px;
    width: 300px;
    margin: 5px 0 0;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 8px;
}

/* button style */
.c_button {
    margin: 20px;
    border: unset;
    border-radius: 10px;
    background-color: #85c1e9;
    color: #ffffff;
    padding: 10px 13px;
    font-weight: bold;

    &:hover {
        background-color: #5dade2;
        cursor: pointer;
    }
}

.c_button_s {
    width: 80px;
    height: 40px;
    font-size: 15px;
}

.c_button_m {
    width: 130px;
    height: 50px;
    font-size: 18px;
}

.c_button_l {
    width: 180px;
    height: 60px;
    font-size: 22px;
}



/* icon style */
.c_icon_s {
    width: 30px;
    height: 30px;
    margin: 20px;
}

.c_icon_m {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.c_icon_l {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.c_icon_hover {
    &:hover{
        cursor: pointer;
    }
}

