/* detailPage의 css 입니다. */

.main {
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.slider {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    overflow: hidden;
}

.item {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.c_character_image {
    position: relative;
    top: 0;
    left: 0;
    height: calc(100vh - 300px);
    width: 500px;
    object-fit: contain;
}

.title {
    font-size: 25px;
    font-weight: 800;
}

.slider button {
    background-color: unset;
    color: #000000;
    height: 50px;

    &:hover {
        background-color: unset;
        color: #727272;
    }



}




.img-github,
.img-velog {
    width: 85px;
margin: 0px 20px 0px 3px;
}

/*  modal  관련 */
#modalBtn,
#modalCloseBtn {
    cursor: pointer;

}

#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#modalContent {
    position: absolute;
    background-color: #8a9aa7;
    width: 300px;
    height: 150px;
    padding: 15px;

}

#modalContainer.hidden {
    display: none;
}

.mainFooter {
    background-color: blue;
    text-align: center;
    width: 600px;
}

.link-sns {
    list-style: none;
}

.btn {
    text-align: center;
}

.area1 {
    height: 100%;
    width: 600PX;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: groove;
    background-color: transparent;
    border-width: 10px;
    border-color: white;
    overflow: hidden;
}

.area2 {
    background-color: transparent;
    height: 100%;
    width: 40%;
}

.area2a {
    color: white;
    width: 400px;
    height: 70%;
    background-color: transparent;
    word-break: break-all;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    object-fit: contain;
    border: 2 solid black;
    border-radius: 20px;
    margin-top: 5PX;
    font-size: x-large;

}

#q1 {
    object-fit: cover;
}

.area2b {
    height: 20%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;



}



.addCharacter {
    min-width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    object-fit: contain;
    border: 5px solid transparent;
    border-radius: 20px;
}

.topp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 2px 2px 2px;
}


.home_icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    left: 100px;
}


.content {
    margin: 5px 0px 5px 0px;

}
