body {
    height: 100vh;
}

.header {
    color: #fff;
    display: flex;
    justify-content: center;
    div {
        margin-left: -40px;
        font-size: 40px;
    }
}

.card_area {
    overflow: scroll;
    width: 100%;
    height: 600px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
}

.card_division {
    display: flex;
    flex-direction: row;
}

.game_info {
    flex: 1;
}

.search_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 10px;
    align-items: center;
    input {
        width: 100%;
        margin-right: 10px;
    }
    img {
        width: 30px;
        height: 30px;
    }
}

.pagination {
    margin: 10px;
    justify-content: center;
}

.page-link {
    padding: 5px;
    background-color: unset;
    border: unset;

    &:focus {
        background-color: unset;
        border: unset;
        box-shadow: none;
    }
}

.page_item {
    align-content: center;
    width: 50px;
    text-align: center;
}

.pagination_button {
    img{
        width: 20px;
        height: 20px;
    }
}

.page_num {
    color: white;
}

.page_range {
    display: flex;
    flex-direction: row;
    align-items: center;
}